@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import 'font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap');

$path: './assets/images/';

.app {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #000;

  h2,
  h3 {
    font-family: 'Bangers', cursive;
  }

  main {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 4px solid #000;
    z-index: 1000; // Ensures the nav is on top of other content
    padding: 10px 0;
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 15px;

        a {
          font-family: 'Bangers', cursive;
          font-size: 1.5rem;
          text-transform: uppercase;
          color: #000;
          text-decoration: none;
          position: relative; // For the hover effect
          transition: color 0.3s ease;
        }

        a:hover {
          color: #ff4500; // A splash of comic-style color on hover
        }
      }
    }
  }

  .comic-section {
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
  }

  .home-background {
    background-image: url('#{$path}/farmhouse.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 0;
  }

  .home-image {
    background-image: url('#{$path}/me_animals.JPG');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    height: 100vh;
  }

  #journey {
    background-image: url('#{$path}/me_coding.JPG');
    background-size: 100%;
    background-position: top;

    h2 {
      color: #fff;
    }
  }

  #contact {
    color: #fff;
    font-weight: bold;
    background-image: url('#{$path}/background2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }

  #journey,
  #contact {
    height: 100%;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.5rem;
    color: #000;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  li {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  footer {
    font-family: 'Bangers', cursive;
    padding: 20px;
    background: #f5f5f5;
    border-top: 4px solid #000;
    text-align: center;
  }

  .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .experience {
    margin-bottom: 40px;
    padding: 15px;
    background-color: #fff;
    border: 3px solid #000;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    max-width: 80%;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; // Add a smooth transition

    &:hover {
      transform: translateY(-5px); // Moves the card up slightly
      box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.4); // Makes the shadow more pronounced
    }
  }

  .experience:not(:last-child):after {
    content: "";
    /* Create a pseudo-element */
    display: block;
    height: 20px;
    /* Set the height of the line */
    border: 2px solid #000;
    /* Style the line */
    width: 100%;
    /* Make the line the full width of the container */
    position: absolute;
    left: 50%;
    top: 100%;
    height: 55px;
    width: 0;
  }

  .socials {
    display: flex;
    gap: 20px;
    /* Adjust the gap between the icons */
    justify-content: center;

    a {
      color: #fff;
      font-size: 1rem;
    }
  }

  .socials a:hover {
    text-decoration: none;
  }

  .scroller {
    position: fixed;
    right: 20px;
    height: 42px;
    width: 40px;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    border: none; // Remove default button border
    padding: 0;

    &:hover {
      transform: scale(1.1); // Add a subtle hover effect for buttons
    }
  }

  .scroll-up {
    bottom: 65px;
    background-image: url('#{$path}/arrow-up-circle-fill.svg');
  }

  .scroll-down {
    bottom: 20px;
    /* Position above the other button */
    background-image: url('#{$path}/arrow-down-circle-fill.svg');
  }
}